%main.container.mb-res-50
  = render 'header'
  = form_for @payment, url: wizard_path, method: :put, remote: false, html: {class: "max-600 mb-80" } do |f|
    - if params[:redirect].present?
      = f.hidden_field 'redirect',name: 'redirect', id: 'redirect', value: params[:redirect]
    %h3.general-subtitle= t('checkout.payment.title')
    -#.form-group.has-error
    .form-group
      = f.label :number, t('checkout.payment.number'), class: "control-label input-label"
      = f.text_field :number, placeholder: t('checkout.payment.number'), class: 'form-control'
      -#%span.help-block Please enter a valid credit card number
    .row
      .col-sm-6
        .form-group
          = f.label :name, t('checkout.payment.cardname'), class: "control-label input-label"
          = f.text_field :name, placeholder: t('checkout.payment.cardname'), class: 'form-control'
      .col-sm-3
        .form-group
          = f.label :expired, t('checkout.payment.expired'), class: "control-label input-label"
          = f.text_field :expired, placeholder: t('checkout.payment.expired'), class: 'form-control'
      .col-sm-3
        .form-group.relative
          = f.label :cvv, t('checkout.payment.cvv'), class: "control-label input-label"
          = f.text_field :cvv, placeholder: t('checkout.payment.cvv'), class: 'form-control'
          %i.fa.fa-question-circle.general-form-help
    .general-text-align
      = render 'order_summary'
    .text-center
      %button.btn.center-block.mb-20= t('button.save_continue')
